[Desktop Entry]
Type=Application
Version=1.0
Name=Porter
GenericName=Desktop Assistant
Comment=Resident AI desktop control
Exec=/usr/bin/porter
TryExec=/usr/bin/porter
Icon=io.github.shehabyahya.Porter
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=Porter
X-GNOME-UsesNotifications=true
